/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8F8F8;
}

.apple {
  background-image: url("https://picsum.photos/1920/1080");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
}


.leftimage {
  background-image: url("https://cdn.pixabay.com/photo/2021/08/30/21/29/port-6587129__340.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
}





